<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DuoConnections" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>

	<DuoConnections>
		<add key="Tenant1.ikey" value="ENTER IKEY HERE"/>
		<add key="Tenant1.skey" value="ENTER SECRET KEY HERE"/>
		<add key="Tenant1.host" value="API HOST"/>
		<add key="Tenant1.Output" value="C:\%MyPath%\MyFileName.csv"/>

		<add key="Tenant2.ikey" value="ENTER IKEY HERE"/>
		<add key="Tenant2.skey" value="ENTER SECRET KEY HERE"/>
		<add key="Tenant2.host" value="API HOST"/>
		<add key="Tenant2.Output" value="C:\%MyPath%\MyFileName.csv"/>

		<!-- Add more tenants as needed -->
	</DuoConnections>
</configuration>
